.st7 {
	fill: none;
  }

  .st8 {
	fill: #085566;
  }

  .st9 {
	fill: #eebb2a;
	opacity: .8;
  }

  .st10 {
	fill: #00b7a8;
  }

  .st11 {
	fill: #0d8da5;
  }

  .st12 {
	fill: #fff;
  }

  .st13 {
	fill: #145063;
  }

  .st14 {
	opacity: .2;
  }

  .st15 {
	fill: #f3a791;
  }

  .st15, .st16 {
	opacity: .6;
  }

  .st16 {
	fill: #6ac8ca;
  }

  .st17 {
	fill: #045262;
  }

  .button-info2 {
    animation: move2 1s ease-out infinite alternate;
  }

  .button-info2:hover {
	cursor: pointer;
  }

  .button-info2:hover circle.st9 {
    transition: .5s;
    fill:var(--fio-sys-color-accent-light);
  }

  @keyframes move2 {
	from {
		transform: translateY(0);
		filter: drop-shadow(0 1px 1px #5c7277);
	}

	to {
		transform: translateY(-10px);
		filter: drop-shadow(0 10px 4px #5c7277);
	}
}