/* --- ABAS --- */

.aba {
	--_abas-nav-border-radius: var(--fio-sys-size-radius-xs);

	--_abas-nav-background: var(--fio-sys-color-secondary-extra-light);
	--_abas-nav-text-color: var(--fio-sys-color-primary-medium);
	--_abas-nav-text-color-active: var(--fio-sys-color-primary-dark);
	--_abas-nav-link-background: transparent;
	--_abas-nav-link-background-hover: var(--fio-sys-color-secondary-extra-dark-contrast);
	--_abas-nav-link-background-active: var(--fio-sys-color-secondary-medium);

	--_abas-tab-content-border-radius: var(--fio-sys-size-radius-xs);
	--_abas-tab-content-background: var(--fio-ref-color-primary-99);
	--_abas-tab-content-border-color: var(--fio-sys-color-primary-medium-contrast);
	--_abas-tab-content-border-width: var(--fio-sys-size-stroke-sm);

	font-family: var(--fio-sys-typography-family-secondary-regular);
}

/* --- ABA ---  */

.aba .nav {
	background-color: var(--_abas-nav-background);
	border-radius: var(--_abas-nav-border-radius);
	margin-bottom: var(--fio-sys-size-margin-xs);
}

.aba .nav.nav-fill .nav-item {
	width: 50%;
}
.aba .nav.nav-fill .nav-item .nav-link {
	display: block;
	padding: 0.5rem 1rem;
	color: var(--_abas-nav-text-color);
	text-decoration: none;
	font-weight: 500;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
	border-radius: var(--_abas-nav-border-radius);
}
.aba .nav.nav-pills .nav-link.active,
.aba .nav.nav-pills .show > .nav-link {
	color: var(--_abas-nav-text-color-active);
	background-color: var(--_abas-nav-link-background-active);
}

.aba .nav.nav-fill .nav-item .nav-link:focus {
	color: var(--_abas-nav-text-color-active);
}

.aba .nav.nav-fill .nav-item .nav-link:not(.active):hover {
	color: var(--_abas-nav-text-color-active);
	background-color: var(--_abas-nav-link-background-hover);
}

.aba .tab-content {
	background-color: var(--_abas-tab-content-background);
	border-color: var(--_abas-tab-content-border-color);
	border-width: var(--_abas-tab-content-border-width);
	border-style: solid;
	border-radius: var(--_abas-tab-content-border-radius);
}

.aba .tab-content .tab-pane .tab-pane-content {
	padding: var(--fio-sys-size-padding-lg);
}

@media (min-width: 768px) {
	.aba .nav.nav-fill .nav-item {
		width: auto;
	}
}
