/* -------------------------------- 

Antes e Depois

-------------------------------- */

.antes-e-depois {
  --position: 50%;

  display: grid;
  place-items: center;
  margin-bottom: var(--fio-sys-size-margin-lg);
}

.antes-e-depois img {
    max-width: 100%;
}

.antes-e-depois--container {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: var(--fio-sys-size-margin-lg);
}

.image-container {
  /* max-width: 800px;
  max-height: 90vh; */
  width: 100%;
  /* aspect-ratio: 1/1; */
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
  filter:grayscale(60%);
}

.antes-e-depois--slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for Firefox */
  width: 100%;
  height: 100%;
}

.antes-e-depois--slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.slider-line {
  position: absolute;
  inset: 0;
  width: .2rem;
  height: 100%;
  background-color: var(--fio-sys-color-neutral-white);
  /* z-index: 10; */
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button {
  position: absolute;
  background-color: var(--fio-sys-color-accent-medium);
  color: var(--fio-sys-color-primary-extra-dark);
  padding: .5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: calc(var(--position) - 5.5%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* z-index: 100; */
  box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);
  animation: move 1s ease-out infinite alternate;
}

.slider-button:hover {
  background-color: var(--fio-sys-color-accent-light);
}

@media (min-width: 768px) {
  .slider-button {
    left: calc(var(--position) - 3.3%);
  }
}

@media (min-width: 992px) {
  .slider-button {
    left: calc(var(--position) - 2.8%);
  }
}

@media (min-width: 1200px) {
  .slider-button {
    left: calc(var(--position) - 2%);
  }
}

@media (min-width: 1600px) {
  .slider-button {
    left: calc(var(--position) - 1.75%);
  }
}

@keyframes move {
  from {
    /* transform: translateY(0); */
    transform: scale(1.0);
    filter: drop-shadow(0 1px 1px #ababab);
  }

  to {
    /* transform: translateY(-10px); */
    transform: scale(1.15);
    filter: drop-shadow(0 10px 4px #ababab);
  }
}