/* --- FOOTER --- */

:root {
	/* --logo-space: 40px; */
	--logo-space: 38px;
}

footer {
	--_footer-logos-size-default: 50px;

	background-color: inherit;
	border-top: 1px solid var(--fio-sys-color-neutral-light);
	/* border-bottom: 20px solid var(--fio-sys-color-primary-dark); */
	padding: 60px 0 60px;
	position: relative;
	z-index: 99;
}

footer .col-auto {
	border-bottom:1px solid var(--fio-sys-color-neutral-light);
    width: 50%;
}

footer .logos {
	/* padding: 20px 0; */
	padding: 0;
	display: flex;
	gap: var(--logo-space);
	list-style: none;
	margin: 0;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
}

footer .logos li {
	text-align: center;
	position: relative;
	position: relative;
    display: flex;
    align-items: center;
	justify-content: center;
}
footer .logos li.realizacao::before {
	content: 'Realização:';
	text-align: center;
	display: block;
	font-size: 0.75rem;
	position: absolute;
	top: -30px;
	left: 0;
}

/* footer .logos.principais {
	border-top: 1px solid var(--fio-sys-color-neutral-light);
	display: flex;
	margin-top: var(--logo-space);
} */

/* Tamanhos dos logos */
footer .logos img {
	height: var(--_footer-logos-size-default);
}

/* footer .logos img.logo2,
footer .logos img.logo3 {
	height: 140px;
}

footer .logos .logo4{
	height: 70px;
}

footer .logos img.logo6 {
    height: 350px;
} */

/* footer .row .col-12:first-child .logos li:first-child {
	padding-bottom: 38px;
} */

footer .logos img.logo0 {
	height: 230px;
}

footer .logos img.logo1 {
	height: 130px;
}

footer .logos img.logo2 {
	height: 38px;
}

footer .logos img.logo3 {
	height: 90px;
}

footer .logos img.logo4 {
	height: 70px;
}


footer .logos img.logo5 {
	height: 50px;
}

footer .logos img.logo6 {
	height: 40px;
}

footer .logos img.logo7 {
	height: 50px;
}

footer .logos img.logo8 {
	height: 50px;
}

footer .logos img.logo9 {
	height: 50px;
}


@media (min-width: 768px) {
	:root {
		--logo-space: 38px;
	}

	footer .col-auto {
		width: auto;
        border-right: 1px solid var(--fio-sys-color-neutral-light);
        border-bottom: none;
        height: 120px;
	}

	footer .logos {
		flex-direction: row;
		gap: var(--logo-space);
		padding:0;
	}

	footer .row:first-child .logos {
		gap: var(--logo-space);
	}

	/* footer .logos.principais {
		border: none;
		border-left: 1px solid var(--fio-sys-color-neutral-light);
		padding-left: var(--logo-space);
		margin-left: var(--logo-space);
		margin-top: 0;
	} */

	/* Tamanhos dos logos */
	footer .logos img {
		height: var(--_footer-logos-size-default);
	}
	/* footer .row .col-12:first-child .logos li:first-child {
		padding-bottom: 0;
	} */

	footer .logos img.logo1 {
		height: 120px;
	}

	footer .logos img.logo2 {
		height: 120px;
	}

	footer .logos img.logo3 {
		height: 170px;
	}

	footer .logos img.logo4 {
		height: 170px;
	}

	footer .logos img.logo5 {
		height: 150px;
	}

	footer .logos img.logo6 {
		height: 150px;
	}

	footer .logos img.logo7 {
		height: 120px;
	}

	footer .logos img.logo8 {
		height: 120px;
	}

	footer .logos img.logo9 {
		height: 100px;
	}
	/* footer .logos .logo4{
		height: var(--_footer-logos-size-default);
	}

	footer .logos img.logo2,
	footer .logos img.logo3 {
		height: 120px;
	}

	footer .logos img.logo6 {
		height: 150px;
	} */
}

@media (min-width: 992px) {
	footer {
		margin-left: 120px;
	}
	/*footer .logos img {
		height: 40px;
	}

	 footer .logos img.logo2,
	footer .logos img.logo3 {
		height: 90px;
	} */
}

@media (min-width: 1200px) {
	footer {
		margin-left: 120px;
	}

	/* footer .logos img {
		height: 50px;
	} */

	/* footer .logos img.logo2,
	footer .logos img.logo3 {
		height: 100px;
	} */
}

/* @media (min-width: 1320px) {
	:root {
		--logo-space: 38px;
		--logo-space-realizacao: 36px;
	}
} */