/* --- POPOVER --- */

a[data-bs-toggle="popover"]:not([href]):not([class]), 
a[data-bs-toggle="popover"]:not([href]):not([class]):hover {
    color: var(--fio-sys-color-accent-medium);
}

a[data-bs-toggle="popover"]:not([href]):not([class]):hover {
    color: var(--fio-sys-color-accent-light);
    text-decoration: underline;
}

.popover {
    background-color: var(--fio-sys-color-neutral-white);
    border: var(--fio-sys-size-stroke-xs) solid var(--fio-sys-color-primary-extra-light);
    border-radius: var(--fio-sys-size-radius-lg);
    box-shadow: var(--fio-sys-size-shadow-lg);
    color:var(--fio-sys-color-primary-dark);
    font-family: var(--fio-sys-typography-family-primary-medium);
    font-size: var(--fio-sys-typography-size-0);
    max-width: 300px;
}

.popover p {
    font-size: var(--fio-sys-typography-size--1) !important;
}

@media (min-width:992px){
    .popover {
        max-width: 500px;
    }
}


.popover-header {
    background-color: var(--fio-sys-color-primary-extra-light);
    border-bottom: none;
    border-top-left-radius: var(--fio-sys-size-radius-lg);
    border-top-right-radius: var(--fio-sys-size-radius-lg);
    color:var(--fio-sys-color-primary-dark);
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: var(--fio-sys-typography-size-1); 
}

.bs-popover-auto[data-popper-placement^=top]>.popover-arrow::after, 
.bs-popover-top>.popover-arrow::after {
    bottom: 1px;
    border-width: 0.5rem 0.5rem 0;
    border-top-color: var(--fio-sys-color-primary-dark);
}

.bs-popover-auto[data-popper-placement^=right]>.popover-arrow::after, 
.bs-popover-end>.popover-arrow::after {
    left: 1px;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-right-color: var(--fio-sys-color-primary-dark);
    border-color: transparent;
    border-right-color: var(--fio-sys-color-primary-dark);
}

.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::after, 
.bs-popover-bottom>.popover-arrow::after {
    top: 1px;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-bottom-color: var(--fio-sys-color-primary-dark);
}

.bs-popover-auto[data-popper-placement^=right]>.popover-arrow::before, 
.bs-popover-end>.popover-arrow::before {
    border-right-color: transparent;
}


